# 忽略在工作区（Workspaces）根目录运行的 npm 命令的默认警告。
ignore-workspace-root-check=true

# 强制将所有依赖项移到顶层 node_modules 中
shamefully-hoist=true

# 关闭严格的对等依赖检查
strict-peer-dependencies=false

# 自动安装对等依赖项
auto-install-peers=true
